# Problem Set 2 - 200543751

Question 1

In [ ]:
•a = 0: This assigns the value of 0 to the global variable a.

•def b():: This defines a function b.

•global a: This declares that  a, inside the function b refers to the global variable. 

•a = c(a): This calls the function c with the current value of a (0), adds 2 to it, and assigns the resulting value of 2 to a.

•def c(a):: This defines a function c that takes a single argument a.

•return a + 2: This returns the value of a plus 2.

In [41]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [44]:
b()

In [45]:
b()

In [46]:
b()

In [47]:
a

6

Question 2

In [8]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [9]:
fileLength('Question 3.ipynb')

2181

In [10]:
fileLength('nofile.ipynb')

File nofile.ipynb not found.

Question 3

In [11]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [12]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [13]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [14]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

Question 4

In [15]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [16]:
 collatz(1)

1

In [17]:
collatz(10)

10
5
16
8
4
2
1

Question 5

In [18]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [19]:
 binary(0)

0

In [23]:
 binary(1)

1

In [24]:
 binary(3)

11

In [25]:
 binary(9)

1001

Question 6

In [5]:
class HeadingParser():
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            self.headings.append((int(tag[1]), self.get_starttag_text()))

    def print_headings(self):
        for level, heading in self.headings:
            print(" " * level + heading[4:-5])

In [49]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.print_headings()

Question 7

In [23]:
def webdir(url, depth, indent):
   
    
    print(' ' * indent + url)
    
    
    if depth == 0:
        return
    
   
    try:
        response = urlopen(url)
    except:
        return
    soup = BeautifulSoup(response.read(), 'html.parser')
    
   
    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            next_url = href
        else:
            next_url = urljoin(url, href)
        webdir(next_url, depth-1, indent+1)

In [24]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

In [84]:
import sqlite3

conn = sqlite3.connect('citydata1.db')

c = conn.cursor()

c.execute('''CREATE TABLE citydata (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
            )''')


data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

c.executemany('INSERT INTO citydata VALUES (?, ?, ?, ?, ?)', data)


conn.commit()


c.execute('SELECT Temperature FROM citydata')
print(c.fetchall())

c.execute('SELECT DISTINCT City FROM citydata')
print(c.fetchall())

c.execute('SELECT * FROM citydata WHERE Country="India"')
print(c.fetchall())

c.execute('SELECT * FROM citydata WHERE Season="Fall"')
print(c.fetchall())

c.execute('SELECT City, Country, Season FROM citydata WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season')
print(c.fetchall())

c.execute('SELECT City, Country FROM citydata WHERE Season="Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
print(c.fetchall())

c.execute('SELECT SUM(Rainfall) FROM citydata WHERE City="Cairo"')
print(c.fetchall())

c.execute('SELECT Season, SUM(Rainfall) FROM citydata GROUP BY Season')
print(c.fetchall())


conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9

In [85]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [86]:
uppercase_words = [element.upper() for element in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [87]:
lowercase_words = [element.lower() for element in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [88]:
[len(element) for element in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [89]:
[[element.upper(), element.lower(), len(element)] for element in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [90]:
[element for element in words if len(element) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']